<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue Rose</key>
	<dict>
		<key>displayName</key>
		<string>Blue Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>blue</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>blueRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Brown Rose</key>
	<dict>
		<key>displayName</key>
		<string>Brown Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>brown</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>brownRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Rose </key>
	<dict>
		<key>displayName</key>
		<string>Green Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>greenRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Rose </key>
	<dict>
		<key>displayName</key>
		<string>Orange Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>orangeRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Rose</key>
	<dict>
		<key>displayName</key>
		<string>Pink Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>pinkRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Rose </key>
	<dict>
		<key>displayName</key>
		<string>Purple Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>purpleRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Rose </key>
	<dict>
		<key>displayName</key>
		<string>Red Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>redRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Turquoise Rose </key>
	<dict>
		<key>displayName</key>
		<string>Turquoise Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>turquoise</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>turquoiseRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Rose </key>
	<dict>
		<key>displayName</key>
		<string>White Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>whiteRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Rose</key>
	<dict>
		<key>displayName</key>
		<string>Yellow Rose</string>
		<key>type</key>
		<string>rose</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>50</integer>
		<key>boqCost</key>
		<integer>200</integer>
		<key>imageName</key>
		<string>yellowRose.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Blue Orchid </key>
	<dict>
		<key>displayName</key>
		<string>Blue Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>blue</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>rose-red.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Brown Orchid </key>
	<dict>
		<key>displayName</key>
		<string>Brown Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>brown</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>brownOrchids.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Orchid </key>
	<dict>
		<key>displayName</key>
		<string>Green Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>greenOrchids.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Orchid </key>
	<dict>
		<key>displayName</key>
		<string>Pink Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>pinkOrchids.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Orchid</key>
	<dict>
		<key>displayName</key>
		<string>Purple Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>purpleOrchids.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Orchid</key>
	<dict>
		<key>displayName</key>
		<string>Red Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>redOrchid.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Turquoise Orchid</key>
	<dict>
		<key>displayName</key>
		<string>Turquoise Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>turquoise</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>turquoiseOrchid.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Orchid</key>
	<dict>
		<key>displayName</key>
		<string>White Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>whiteOrchids.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Orchid</key>
	<dict>
		<key>displayName</key>
		<string>Yellow Orchid</string>
		<key>type</key>
		<string>orchid</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>100</integer>
		<key>boqCost</key>
		<integer>800</integer>
		<key>imageName</key>
		<string>yellowOrchids.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Lilies</key>
	<dict>
		<key>displayName</key>
		<string>Green Lilies</string>
		<key>type</key>
		<string>lilies</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>greenLilies.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Lilies</key>
	<dict>
		<key>displayName</key>
		<string>Orange Lilies</string>
		<key>type</key>
		<string>lilies</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>orangeLilies.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Lilies </key>
	<dict>
		<key>displayName</key>
		<string>Pink Lilies</string>
		<key>type</key>
		<string>lilies</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>pinkLilies.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Lilies </key>
	<dict>
		<key>displayName</key>
		<string>Red Lilies</string>
		<key>type</key>
		<string>lilies</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>redLilies.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Lilies</key>
	<dict>
		<key>displayName</key>
		<string>White Lilies</string>
		<key>type</key>
		<string>lilies</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>whiteLilies.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Lilies</key>
	<dict>
		<key>displayName</key>
		<string>Yellow Lilies</string>
		<key>type</key>
		<string>lilies</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>yellowLilies.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Brown Calla </key>
	<dict>
		<key>displayName</key>
		<string>Brown Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>brown</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>brownCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Calla </key>
	<dict>
		<key>displayName</key>
		<string>Green Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>greenCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Calla </key>
	<dict>
		<key>displayName</key>
		<string>Orange Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>orangeCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Calla</key>
	<dict>
		<key>displayName</key>
		<string>Pink Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>Pink</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>pinkCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Calla </key>
	<dict>
		<key>displayName</key>
		<string>Purple Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>purpleCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Calla</key>
	<dict>
		<key>displayName</key>
		<string>Red Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>redCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Calla</key>
	<dict>
		<key>displayName</key>
		<string>White Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>whiteCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Calla</key>
	<dict>
		<key>displayName</key>
		<string>Yellow Calla</string>
		<key>type</key>
		<string>calla</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>yellowCalla.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Blue Hydrangea</key>
	<dict>
		<key>displayName</key>
		<string>Blue Hydrangea</string>
		<key>type</key>
		<string>hydrangea</string>
		<key>color</key>
		<string>Blue</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>blueHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Brown Hydrangea </key>
	<dict>
		<key>displayName</key>
		<string>Brown Hydrangea</string>
		<key>type</key>
		<string>hydrangea</string>
		<key>color</key>
		<string>brown</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>brownHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Hydrangea</key>
	<dict>
		<key>displayName</key>
		<string>Green Hydrangea</string>
		<key>type</key>
		<string>hydrangea</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>greenHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Hydrangea </key>
	<dict>
		<key>displayName</key>
		<string> Pink Hydrangea</string>
		<key>type</key>
		<string>hydrangea</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>pinkHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Hydrangea </key>
	<dict>
		<key>displayName</key>
		<string>Purple Hydrangea</string>
		<key>type</key>
		<string>hydrangea</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>purpleHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Turquoise Hydrangea </key>
	<dict>
		<key>displayName</key>
		<string>Turquoise Hydrangea</string>
		<key>type</key>
		<string>Hydrangea</string>
		<key>color</key>
		<string>turquoise</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>turquoiseHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Hydrangea  </key>
	<dict>
		<key>displayName</key>
		<string>White Hydrangea</string>
		<key>type</key>
		<string>Hydrangea</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>whiteHydrangea.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Brown Sunflower</key>
	<dict>
		<key>displayName</key>
		<string>Brown Sunflower</string>
		<key>type</key>
		<string>sunflower</string>
		<key>color</key>
		<string>brown</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>brownSunflower.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Sunflower</key>
	<dict>
		<key>displayName</key>
		<string>Orange Sunflower</string>
		<key>type</key>
		<string>sunflower</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>orangeSunflower.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Sunflower</key>
	<dict>
		<key>displayName</key>
		<string>Red Sunflower</string>
		<key>type</key>
		<string>Sunflower</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>redSunflower.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Sunflower </key>
	<dict>
		<key>displayName</key>
		<string>Yellow Sunflower</string>
		<key>type</key>
		<string>sunflower</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>yellowSunflower.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Iris</key>
	<dict>
		<key>displayName</key>
		<string>Purple Iris</string>
		<key>type</key>
		<string>iris </string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>purpleIris.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Blue Delphinium</key>
	<dict>
		<key>displayName</key>
		<string>Blue Delphinium</string>
		<key>type</key>
		<string>delphinium</string>
		<key>color</key>
		<string>blue</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>blueDelphinium.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Delphinium</key>
	<dict>
		<key>displayName</key>
		<string>White Delphinium</string>
		<key>type</key>
		<string>delphinium</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>60</integer>
		<key>boqCost</key>
		<integer>120</integer>
		<key>imageName</key>
		<string>whiteDelphinium.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<false/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Brown Daisy</key>
	<dict>
		<key>displayName</key>
		<string>Brown Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>brown</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>brownDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Daisy</key>
	<dict>
		<key>displayName</key>
		<string>Orange Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>orangeDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Daisy</key>
	<dict>
		<key>displayName</key>
		<string>Pink Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>pinkDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Daisy</key>
	<dict>
		<key>displayName</key>
		<string>Purple Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>purpleDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Daisy </key>
	<dict>
		<key>displayName</key>
		<string>Red Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>redDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Turquoise Daisy</key>
	<dict>
		<key>displayName</key>
		<string>Turquoise Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>turquoise</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>turquoiseDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Daisy</key>
	<dict>
		<key>displayName</key>
		<string>White Daisy</string>
		<key>type</key>
		<string>daisy</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>whiteDaisy.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Blue Mums</key>
	<dict>
		<key>displayName</key>
		<string>Blue Mums</string>
		<key>type</key>
		<string>mums</string>
		<key>color</key>
		<string>blue</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>blueMum.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Mums</key>
	<dict>
		<key>displayName</key>
		<string>Pink Mums</string>
		<key>type</key>
		<string>mums</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Turquoise Mums</key>
	<dict>
		<key>displayName</key>
		<string>Turquoise Mums</string>
		<key>type</key>
		<string>mums</string>
		<key>color</key>
		<string>turquoise</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>turquoiseMum.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Mums</key>
	<dict>
		<key>displayName</key>
		<string>Yellow Mums</string>
		<key>type</key>
		<string>mums</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>yellowMum.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Mums</key>
	<dict>
		<key>displayName</key>
		<string>Green Mums</string>
		<key>type</key>
		<string>mums</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>greenMum.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Green Alstroemerias</key>
	<dict>
		<key>displayName</key>
		<string>Green Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>green</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>greenAlstroemerias.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Alstroemerias</key>
	<dict>
		<key>displayName</key>
		<string>Orange Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>orangeAlstroemerias.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Alstroemerias</key>
	<dict>
		<key>displayName</key>
		<string>Pink Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>pinkAlstroemerias.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Alstroemerias </key>
	<dict>
		<key>displayName</key>
		<string>Purple Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>purpleAlstroemerias.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Alstroemerias</key>
	<dict>
		<key>displayName</key>
		<string>Red Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>redAlstroemerias.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Alstroemerias </key>
	<dict>
		<key>displayName</key>
		<string>White Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>whiteAlstroemerias.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Alstroemerias</key>
	<dict>
		<key>displayName</key>
		<string>Yellow Alstroemerias</string>
		<key>type</key>
		<string>alstroemerias</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>yellowAlstroemeria.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Orange Snapdragon</key>
	<dict>
		<key>displayName</key>
		<string>Orange Snapdragon</string>
		<key>type</key>
		<string>snapdragon</string>
		<key>color</key>
		<string>orange</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>orangeSnapdragon.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Pink Snapdragon </key>
	<dict>
		<key>displayName</key>
		<string>Pink Snapdragon</string>
		<key>type</key>
		<string>snapdragon</string>
		<key>color</key>
		<string>pink</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>pinkSnapdragon.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Purple Snapdragon </key>
	<dict>
		<key>displayName</key>
		<string>Purple Snapdragon</string>
		<key>type</key>
		<string>snapdragon</string>
		<key>color</key>
		<string>purple</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>purpleSnapdragon.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Red Snapdragon </key>
	<dict>
		<key>displayName</key>
		<string>Red Snapdragon</string>
		<key>type</key>
		<string>snapdragon</string>
		<key>color</key>
		<string>red</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>redSnapdragon.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>White Snapdragon</key>
	<dict>
		<key>displayName</key>
		<string>White Snapdragon</string>
		<key>type</key>
		<string>snapdragon</string>
		<key>color</key>
		<string>white</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>whiteSnapdragon.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
	<key>Yellow Snapdragon </key>
	<dict>
		<key>displayName</key>
		<string>Yellow Snapdragon</string>
		<key>type</key>
		<string>snapdragon</string>
		<key>color</key>
		<string>yellow</string>
		<key>dozCost</key>
		<integer>40</integer>
		<key>boqCost</key>
		<integer>90</integer>
		<key>imageName</key>
		<string>yellowSnapdragon.jpg</string>
		<key>season</key>
		<dict>
			<key>spring</key>
			<true/>
			<key>summer</key>
			<true/>
			<key>fall</key>
			<true/>
			<key>winter</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
